/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

* {
	/*border: 1px solid red;*/
}

body {
	background: #f4f4f7;
	font-family: 'Lato', sans-serif;
	width: 100%;
	position: relative;
}

/****** NAVIGATION ******/
.navbar {
	background-color: black;
	padding-top:  0.25rem;
	padding-bottom:  0.25rem;
	line-height: 1em;
}

a.navbar-brand {
	color: blueviolet !important;
	font-family: 'Muli', sans-serif;
	font-size: 1.67rem;
}

a.navbar-brand:hover {
	color: darkcyan ! important;
}

a {
	color: cornflowerblue;
}

a:hover {
	color: darkcyan;
}

li.nav-item {
	font-family: 'Muli', sans-serif;
	font-size: 1.12rem;
	padding: 25px;
}
/****** END NAVIGATION ******/

/****** ABOUT SECTION ******/
.container {
	margin-top: 43px;
}

h1 {
	margin-top: 4rem !important;
}

h1, h3 {
	font-family: 'Muli', sans-serif;
}

div.col.align-self-center,
h3.skills,
ul.skills-list {
	background-color: cyan;
	border-bottom-style: groove;
	border-left: 30px;
	border-right: 30px;
}

.col.first-col {
	padding-right: 30px;
}

.col.third-col {
	padding-left: 30px;
}

h3.skills {
	color: darkcyan;
	padding-left: 55px;
}

ul.skills-list {
	color: darkcyan;
	padding-left: 79px;
}

.second-col {
	box-shadow: 10px 15px #000;
}

li {
	list-style: none;
}
/****** END ABOUT SECTION ******/