/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

* {
	/*border: 1px solid red;*/
}

body {
	background: #f4f4f7;
	font-family: 'Lato', sans-serif;
	width: 100%;
	position: relative;
}

/****** NAVIGATION ******/
nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed {
	background-color: black;
	height: 50px;
	/*padding-top:  15px;*/
	/*padding-bottom:  50px;*/
}

a.navbar-brand {
	color: blueviolet !important;
	font-family: 'Muli', sans-serif;
	font-size: 1.67rem;
	padding-top: 35px;
	padding-bottom: 42px;
}

a.navbar-brand:hover {
	color: darkcyan ! important;
}

a {
	color: cornflowerblue;
}

a:hover {
	color: darkcyan;
}

a.nav-link {
	font-family: 'Muli', sans-serif;
	font-size: 1.12rem;
	padding: 25px;
	height: 50px;
	margin-bottom: 30px;
}

.button.navbar-toggler {
	color: cornflowerblue;
}
/****** END NAVIGATION ******/

div.carousel-item {
	margin-bottom: 500px;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
	background-color: blueviolet;
	margin-bottom: 500px;
}
/****** ABOUT SECTION ******/
.section {
	margin-bottom: 150px;
}

.container {
	margin-bottom: 150px;
}

h1 {
	margin-bottom: 3rem !important;
}

h1, h3 {
	font-family: 'Muli', sans-serif;
}

div.col.align-self-center,
h3.skills,
ul.skills-list {
	background-color: cyan;
	border-bottom-style: groove;
	border-left: 30px;
	border-right: 30px;
}

.col.first-col {
	padding-right: 30px;
}

.col.third-col {
	padding-left: 30px;
}

h3.skills {
	color: darkcyan;
	padding-left: 108px;
}

ul.skills-list {
	color: darkcyan;
	padding-left: 110px;
}

.second-col {
	box-shadow: 10px 15px #000;
	margin-bottom: 100px;
}

li {
	list-style: none;
}
/****** END ABOUT SECTION ******/

/****** RESUME SECTION ******/
h3.resume {
	margin-top: 40px;
}

.resume-para {
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
}

.btn.resume {
	margin-left: 650px;
	margin-top: 34px;
	margin-bottom: 92px;
}
/****** END RESUME SECTION ******/

/****** CONTACT SECTION ******/
#contact {
	background-image: url("../img/abstract-internet.jpg");
	background-attachment: fixed;
	background-size: cover;
}

h3.contact-me {
	font-size: 3rem;
	font-weight: bolder;
	margin-left: 25px;
	padding-top: 100px;
}

p.questions {
	font-size: 1.7rem;
	font-weight: bolder;
	margin-left: 25px;
	padding-top: 6px;
}

h4.email {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 25px;
	padding-top: 85px;
}

p.email-address {
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 25px;
	padding-bottom: 15px;
}

h4.snail-mail {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 25px;
	padding-top: 85px;
}

p.mailing-address {
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 25px;
	padding-bottom: 15px;
}

h4.business-phone {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 25px;
	padding-top: 85px;
}

p.phone-number {
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 25px;
	padding-bottom: 85px;
}
/****** END CONTACT SECTION ******/