/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

* {
	/*border: 1px solid red;*/
}

body {
	background: aliceblue;
	font-family: 'Lato', sans-serif;
	width: 100%;
}

/****** NAVIGATION ******/
.navbar {
	background-color: black;
	padding-top:  0.25rem;
	padding-bottom:  0.25rem;
	line-height: 1em;
}

a.navbar-brand {
	color: blueviolet !important;
	font-family: 'Muli', sans-serif;
	font-size: 1.67rem;
}

a.navbar-brand:hover {
	color: darkcyan ! important;
}

a {
	color: cornflowerblue;
}

a:hover {
	color: darkcyan;
}

li.nav-item {
	font-family: 'Muli', sans-serif;
	font-size: 1.12rem;
	padding: 25px;
}

/****** END NAVIGATION ******/